*.class
.idea/
SwordieMS.iml
WZ/
wz/
wzdat/
info txts/
dat/
bin/classes/headerText.txt
bin/classes/decodeforlocal.txt
bin/
resources/Cash.txt
resources/Eqp.txt
resources/Etc.txt
resources/Ins.txt
resources/Map.txt
resources/Mob.txt
resources/Npc.txt
resources/Skill.txt
resources/Use.txt
resourcesMap
resourcesMob
resourcesNpc
resourcesSkill.txt
*.iml
maplestory.iml
wz196/
scripts/__init__.py
scripts/item/__init__.py
wz199/
properties/

hotswap-agent\.jar
venv/

resources/idbScripts/swordie_ida_plugin\.pyc
*.log
resources/Account.txt
resources/AccountBossCooldown.txt
resources/Alliance.txt
resources/AuctionItem.txt
resources/AvatarData.txt
resources/AvatarLook.txt
resources/BBSRecord.txt
resources/BBSReply.txt
resources/CashItemInfo.txt
resources/CashShopCategory.txt
resources/CashShopItem.txt
resources/Char.txt
resources/CharacterCard.txt
resources/CharacterPotential.txt
resources/CharacterStat.txt
resources/ChosenSkill.txt
resources/DamageSkinSaveData.txt
resources/DropInfo.txt
resources/Equip.txt
resources/EquipDrop.txt
resources/ExtendSP.txt
resources/Familiar.txt
resources/FileTime.txt
resources/Friend.txt
resources/FuncKeyMap.txt
resources/Guild.txt
resources/GuildMember.txt
resources/GuildRequestor.txt
resources/GuildSkill.txt
resources/Inventory.txt
resources/Item.txt
resources/Keymapping.txt
resources/LinkSkill.txt
resources/Macro.txt
resources/MatrixRecord.txt
resources/MatrixSlot.txt
resources/MonsterBookInfo.txt
resources/MonsterCollection.txt
resources/MonsterCollectionExploration.txt
resources/MonsterCollectionGroupRewardInfo.txt
resources/MonsterCollectionMobInfo.txt
resources/MonsterCollectionReward.txt
resources/MonsterCollectionSessionRewardInfo.txt
resources/NonCombatStatDayLimit.txt
resources/NpcShopItem.txt
resources/Offense.txt
resources/OffenseManager.txt
resources/PetItem.txt
resources/Quest.txt
resources/QuestManager.txt
resources/QuestProgressItemRequirement.txt
resources/QuestProgressLevelRequirement.txt
resources/QuestProgressMobRequirement.txt
resources/QuestProgressMoneyRequirement.txt
resources/QuestProgressRequirement.txt
resources/SPSet.txt
resources/StolenSkill.txt
resources/SystemTime.txt
resources/Trunk.txt
resources/Union.txt
resources/UnionBoard.txt
resources/UnionMember.txt
resources/User.txt
logs/clienterror.txt
logs/timeinfo.csv
letsencrypt.jks
tespia_scripts/
